body
{
    font-family: 'Roboto', sans-serif;
}

header
{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

h1
{
    font-size: 70px;
    opacity: 0.2;
}

#selection-container
{
    border: 3px solid black;
    border-radius: 10px;
    padding: 50px 50px 50px 50px;
    max-width: 400px;
    opacity: 0.2;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "selection-description selection-description"
        "selection-1 selection-2";
    grid-column-gap: 100px;
    grid-row-gap: 20px;
}

#selection-description
{
    grid-area: selection-description;
    font-size: 30px;
}

.selection
{
    border: 3px solid black;
    padding: 20px;
}

.selection:hover
{
    cursor: pointer;
    opacity: 0.5;
}

.shape-label
{
    font-size: 100px;
}

#selection-1 #o
{
    grid-area: selection-1;
}

#selection-2 #x
{
    grid-area: selection-2;
}

#o
{
    color: #EC407A;
}

#o:hover
{
    cursor: pointer;
}

#x
{
    color: #00C853;
}

#x:hover
{
    cursor: pointer;
}

#grid-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 120px 120px;
    max-width: 400px;
    margin-bottom: 30px;
}

.grid
{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 0.2;
    font-size: 100px;   
}

.grid:hover
{
    cursor: pointer;
    opacity: 0.5;
}

#play-O
{
    color: #EC407A;
}

#play-O:hover
{
    cursor: pointer;
}

#play-X
{
    color: #00C853;
}

#play-X:hover
{
    cursor: pointer;
}

#reset-button
{
    margin-top: 25px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: 1px solid black;
    background-color: white;
    opacity: 0.5;
    border-radius: 10px;
}

#reset-button:hover
{
    cursor: pointer;
    opacity: 0.2;
}

#disabled-grid
{
    pointer-events: none;
    cursor: pointer;
}